<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2" id="allIndex">
        <div class="mainView" id="companyName">
          <h1>Fridge Frenzy</h1>
        </div>

        <div class="hidden" id="setupAccountTitle" class="hidden">
          <h1 class="setupAccount">Setup Account</h1>
        </div>
        <div class="hidden" id="signInTitle" class="hidden">
          <h1 class="setupAccount">Sign In</h1>
        </div>
        <div class="mainView" id="buttons">
          <button id="signIn" class="btn">Sign In</button>
          <button id="newAccount" class="btn">Create Account</button>

        </div>


        <!-- Create Account Form -->
        <form class="clearfix mb-4 newAccountForm hidden frontForm" id="" method="post">


          <div class="form-group signUp">
            <label for="first-name" id="firstNameTitle">First Name</label>
            <input type="text" id="firstNameInput" name="firstname" class="form-control" aria-describedby="example-text"
              placeholder="John">
          </div>
          <div class="form-group signUp">
            <label for="last-name" id="lastNameTitle">Last Name</label>
            <input type="text" id="lastNameInput" name="lastname" class="form-control" aria-describedby="example-text"
              placeholder="Doe">
          </div>
          <div class="form-group signIn">
            <label for="email" id="emailTitle">Email</label>
            <input type="email" id="emailInput" name="email" class="form-control" aria-describedby="example-text"
              placeholder="email@domain.com">
          </div>
          <div class="form-group signUp">
            <label for="userNameTitle">User Name</label>
            <input type="text" name="username" class="form-control" id="userNameInput" aria-describedby="example-description"
              placeholder="username">
          </div>
          <div class="form-group signIn">

            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="pwInput" aria-describedby="example-description"
              placeholder="password"><br>
            <input type="checkbox" onclick="showPassword()">Show Password
          </div>

          <button id="sign" type="submit" class="btn">Sign Up</button>
          <button id="cancelButton" class="btn" onclick="this.form.reset();" type="reset">Cancel</button>
        </form>

      </div>
    </div>
  </div>
</div>
