

body {
  background: URL("/img/bg_image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 70px;
  margin: 0 auto;
  color: #f0c202;
  text-align: center;
  margin-top: 50%;
  font-family: 'Courgette', cursive;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

h1.setupAccount {
  font-size: 70px;
  margin: 0 auto;
  color: #f0c202;
  text-align: center;
  margin-top: 30%;
  font-family: 'Courgette', cursive;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

#buttons {
  text-align: center;
}

form {
  background-color: #f0c202;
  margin: 0 auto;
  margin-top: 5%;
  width: 75%;
  font-family: 'Courgette', cursive;
  padding: 20px;
  font-weight: 600;
  position: relative;
}

#submit, #cancelButton, #signInCancelButton, #sign{
  background-color: black;
  border: none;
  margin-right: 10px;
}

#signIn, #newAccount {
  background-color: #f0c202;
  border: none;
  color: black;
  font-family: 'Courgette', cursive;
  margin: 0px 10px;
  margin-top: 50px;
  font-size: 20px;
}

#signIn:hover, #signInButton:hover, #newAccount:hover, #submit:hover, #signInCancelButton:hover, #cancelButton:hover  {
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    background: #c01017; 
    color: #fff;
}

.hidden {
  display: none;
}

.element {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
